body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    color:#40514e;
    
} 

.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.middle-container{

    text-align: center;
    padding: 10px;
    margin: 100px 0;
}

.bottom-container{
    text-align: center;
    background-color: #66BFBF;
    padding:50px 0 20px;
}

.pro{
    color: red;
}

.intro{
    margin: auto;
    width: 30%;
}

.contact-message{
    width: 40%;
    margin:40px auto 60px;
}


.top-cloud{
    position:absolute;
    right: 400px;
    top:50px;

}

.bottom-cloud{
    position:absolute;
    left: 350px;
    bottom: 300px;
}

h1{
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento';
    color: #66BFBF;
    font-size: 90px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: bold;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    font-weight: normal;
    font-family:'Merriweather', serif; 
    line-height: 2;
}

a{
    text-decoration: none;
    color: #11999E;
    font-family:'Montserrat', sans-serif;
    margin:10px 20px;
}

a:hover{
    color: #eaf6f6;
}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.profile-picture{
    width: 12%;
    border-radius: 50%;
}

.computer-image{
    border-radius: 50%;
    width: 25%;	
    float: left;
    margin-right: 30px;
    margin-top: 0;
}

.chillies-image{
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: 0;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-top-width: 5px;
    border-color: rgb(75, 66, 66);
    margin: 100px auto;
}

.btn {
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 12px;
    background-color: #11999E;
    
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #1db9bf 1px;
    background: #1db9bf;
    border-radius: 8px;
    text-decoration: none;
 }

 .copyright{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding:20px 0;
 }